<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../partials/head',{title:"Ooops !"}) %>
    </head>
  </head>
  <body>
    <div
      class="container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <h1 class="has-text-danger title is-2">404 page introuvable !</h1>
    </div>
  </body>
</html>
